
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/


__pycache__/
*.py[cod]
*$py.class
*.so
.Python


config/settings.json
.env


data/books/*
data/exports/*
!data/books/.gitkeep
mis_notas_de_clase.md
borrador_bruto.txt
*.wav
*.mp3


build/
dist/
*.manifest
*.spec


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db
desktop.ini